.container{
    display: flex;
    margin-top: 100px;
}

.container>span{
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.logo{
    margin-left: 35px;
}

.social{
    justify-content: flex-end;
    margin-left: 455px;
    align-items: center;
}