.container{
    padding: 1rem 2rem;
}

.imgPizza{
    position: relative;
    margin-left: 25px;
    margin-top: 50px;
}

.titleText{
    margin-left: 540px;
    font-weight: 900;
    font-size: 36px;
}

.miniText2{
    width: 70%;
    color: var(--themeRed);
    font-weight: 800;
    font-size: 14px;
    display: flex;
    margin-left: 630px;
}

.containerPizza{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.infors{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detalhes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.imgPizza{
    position: relative;
    margin-left: 5px;
    margin-top: 50px;
}

.inforPizza{
    font-size: 15px;
    font-weight: 800;
    margin-left: 62px;
    position:relative;
}

.infor2Pizza{
    font-size: 15px;
    font-weight: 800;
    margin-left: 10px;
}

.botaoPizza{
    width: max-content;
    height: 25px;
    font-weight: 800;
    font-size: 10px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: var(--themeRed);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    margin-right: 40px;
}
