.titleText{
    font-weight: 900;
    font-size: 26px;
    margin-left: 25px;
}

.wrapinput{
    font-family: 'Poppins', sans-serif;
    display: block;
    background-color: #F5F5F5;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    width: 300px;
    height: 40px;
    margin-left: 25px;
    font-weight: 400;
    border: #C72323;
}